services:
  web:
    build: .
    ports:
      - "8002:8000"
    environment:
      - DATABASE_URL=sqlite:///./data/notitas.db
    volumes:
      - .:/app
      - app_data:/app/data
    restart: always

volumes:
  app_data:
